# - r bytetrack/requirements.txt
# - r detector/requirements.txt
# - r detector/ultralytics/requirements.txt

# ultralytics
# pyyaml
# opencv-python
# numpy
# torch>=1.7
# opencv_python
# loguru
# scikit-image
# tqdm
# # torchvision>=0.10.0
# Pillow
# thop
# ninja
# tabulate
# tensorboard
# lap
# motmetrics
# filterpy
# h5py

# # verified versions
# onnx==1.8.1
# onnxruntime==1.8.0
# onnx-simplifier==0.3.5


openvino==2022.3.0
opencv-python==4.7.0.72
torch>=0.4.1
torchvision>=0.2.1
pycocotools==2.0.0
opencv-python>=3.4.0.14
numpy>=1.14.0